@font-face {
    font-family: "Red Hat Display";
    src: url(../Fonts/RedHatDisplay-VariableFont_wght.ttf) format("truetype");
}

/* || General setup */

html {
    font-size: 16px;
    font-family: "Red Hat Display", "Helvetica", "Arial";
}

body {
    background-color: #e0e8ff;
    background-image: url("../Images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 1rem;
}

/* || Constants */
/* || Colors -------------------------------- **/
/* Primary */
.pale-blue {
    color: 	#e0e8ff;
}
.bright-blue {
    color: 	#3829e0;
}
/* Neutral */
.very-pale-blue {
    color: 	#f5f7ff;
}
.desaturated-blue {
    color: #7280a7;
}
.dark-blue {
    color: #1f2f56;
}
.bold-text {
    font-weight: 700;
}
/* ------------------------------------------ **/

/* || Layout */
.flex-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: white; 
}
.flex-container-plan {
    flex-direction: column;
    width: 450px;
    height: 660px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

/* || Components */
#hero-banner img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#main-title {
    width: 100%;
    height: 50px;
    padding-top: 35px;
}
#main-title h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 900;
}

#pitch-paragraph {
    width: 70%;
    padding-bottom: 5px;
}
#pitch-paragraph p {
    text-align: center;
    color: #7f838f;
    line-height: 1.5rem;
}

#annual-plan {
    width: 75%;
    height: 90px;
    background-color: #f5f7ff;
    border-radius: 10px;
}
#annual-plan button {
    border: none;
    background-color: transparent;
    color: #3829e0;
    text-decoration: underline black;
}

#proceed-section {
    width: 75%;
    height: 70px;
}
#proceed-section button {
    background-color: #3829e0;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    font-weight: 700;
    box-shadow: 0px 14px 20px #7280a750;
}

#cancel-section {
    width: 75%;
    height: 30px;
    padding-bottom: 30px;
}
#cancel-section button {
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: grey;
}